<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Начало</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Debt" asp-action="Index">Заеми</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Period" asp-action="Index">Периоди</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Period" asp-action="AddPeriod">Нов Период</a>
    </li>

     @* <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="periodDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Периоди
        </a>
        <div class="dropdown-menu" aria-labelledby="periodDropdown">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Period" asp-action="Index">Периоди</a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Period" asp-action="AddPeriod">Нов Период</a>
        </div>
    </li> *@
</ul>
