@{
    ViewData["Title"] = "Грешка";
} <h1 class="text-danger">Грешка!</h1> 
<h2 class="text-danger">Възникна грешка.</h2> 
<br />
<br /> 
<div class="text-left h4"> Върнете се към <a asp-controller="Home" asp-action="Index">Начало</a></div>
