@{
    ViewData["Title"] = "Грешка";
} 
<div class="row">
    <div class="col-3"></div> <div class="col-6">
        <br> <div class="row">
            <div class="col-10">
                <img src="~/css/images/404.png" alt="Липсваща снимка" class="img-thumbnail"> <div class="text-left h4"> 
                    <p>Страницата не е намерена!</p> </div>

                <div class="text-left h4"> Върнете се към <a asp-controller="Home" asp-action="Index">Начало</a>.</div>
            </div>
        </div>
    </div> <div class="col-3"></div>
</div>

