@{
    ViewData["Title"] = "Home Page";
}
@section HeadContent {
    <link href="~/css/site.css" rel="stylesheet" />

}


<div class="text-center">
    <h1 class="smart-title">Регистър "Общински дълг"</h1>
    <h3 class="smart-description">Система за обслужване на дълговете на общините</h3>
    <h6 class="smart-subtitle">За общините</h6>
</div>


