@{
    ViewData["Title"] = "Списък с дългове";
}

<h1>@ViewData["Title"]</h1>

<table id="debtTable" class="display">
    <thead>
        <tr>
            <th></th>
            <th>Номер на договор/анекс</th>
            <th>Към договор№</th>
            <th>Решение №</th>
            <th>Дата на поемане на дълг</th>
            <th>Крайна дата на дълг</th>
            <th>Размер на дълга в оригинална валута</th>
            <th>Валута</th>
            <th>Община</th>
            <th>Код</th>
            <th>Статус</th>
            <th></th> @* Предоговаряне, Изтриване от Details *@
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- DataTables JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function () {
        $('#debtTable').DataTable({
           // processing: true,
            serverSide: true,
            ajax: {
                url: '@Url.Action("GetDebtsForDataTable", "Debt")', // Ensure this URL matches your controller route
                type: 'GET',  // Explicitly set method to POST
                contentType: 'application/json',  // Specify content type as JSON
                data: function (d) {
                    ////Modify the data being sent to the server
                    // return JSON.stringify({
                    //     draw: d.draw,
                    //     start: d.start,
                    //     length: d.length,
                    //     searchValue: d.search.value  // Add any additional filters
                    // });
                    return {
                        draw: d.draw,
                        start: d.start,
                        length: d.length,
                        searchValue: d.search.value  // Add any additional filters
                    };
                },
                dataSrc: function (json) {
                    return json.data;
                },
                error: function (xhr, error, code) {
                    console.error("Error:", error, code);
                }
            },
            columns: [
                {
                    data: 'id'
                    // title: '№',
                    // sortable: true,
                    // searchable: true,
                    //visible = false
                },
                { data: 'debtNumber' },
                { data: 'debtParentNumber' },
                { data: 'resolutionNumber' },
                { data: 'dateBook' },
                { data: 'dateContractFinish' },
                { data: 'debtAmountOriginalCcy' },
                { data: 'currencyName' },
                { data: 'municipalityName' },
                { data: 'municipalityCode' },
                { data: 'statusName' },
                {
                    data: "details",
                    data: function (a) {
                        return "<a href = '/Debt/Details/" + a.id + "' target=' _parent' class = 'btn btn-info btn-sm' role = 'button'>Преглед</a>"
                    }
                },
                { data: "edit", 
                    data: function (a) { 
                    return "<a href = '/Debt/Edit/" + a.id + "' target=' _parent' class = 'btn btn-info btn-sm' role = 'button'>Редактиране</a>"
                    }
                },
                
            ]
        });
    });
</script>

        