
@{
    ViewData["Title"] = "Списък с дългове";
}
@section HeadContent {
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/data-tables/datatables.min.css" rel="stylesheet" />

}

<h1 class="smart-title">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-lg-12">
        <table id="debtTable" class="table table-hover table-striped"></table>
    </div>
</div>



@section FooterScripts {
    <script src="~/lib/data-tables/datatables.min.js"></script>
}

@section Scripts {
   <script>
     $.fn.dataTable.ext.buttons.io_colvis = {
        extend: 'colvis',
        text: '<i class="eye outline icon"></i>',
        titleAttr: 'Видими Колони',
        className: 'ui basic button'
    };
    $.fn.dataTable.ext.buttons.io_pageLength = {
        extend: 'pageLength',
        className: 'ui basic button'
    };

        $(function () {
            $('#debtTable').DataTable({
                dom: '<"row"<"col-sm-6 dataTables_buttons"B><"col-sm-6"f>>rtip',
                serverSide:false,
                ajax: {
                    "url": "@Url.Action("GetDebtsForDataTable", "Debt")",
                                        
                    "type": "GET",
                    "datatype": "json",
                    

                },
                
                language: {
                    url: "/lib/data-tables/dataTables.bgBG.json",
                    search: "", 
                    searchPlaceholder: "Търсене" 
                },
                columns: [
                   

                    {
                        name: 'debtNumber',
                        data: 'debtNumber',
                        title: 'Номер на дълг/анекс',
                        sortable: true,
                        searchable: true
                    },
                  
                    {
                        
                        name: 'dateBook',
                        data: 'dateBook',
                        title: 'Начална дата на дълг',
                        sortable: true,
                        searchable: false,
                        
                    },
                    {
                        
                        name: 'dateContractFinish',
                        data: 'dateContractFinish',
                        title: 'Крайна дата на дълг',
                        sortable: true,
                        searchable: false,
                       
                    },
                     {
                        name: 'municipalityCode',
                        data: 'municipalityCode',
                        title: 'Код',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'municipalityName',
                        data: 'municipalityName',
                        title: 'Община',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'debtAmountOriginalCcy',
                        data: 'debtAmountOriginalCcy',
                        title: 'Размер на дълга в оригинална валута',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'currencyName',
                        data: 'currencyName',
                        title: 'Валута',
                        sortable: true,
                        searchable: true
                    },
                     {
                        name: 'statusName',
                        data: 'statusName',
                        title: 'Статус',
                        sortable: true,
                        searchable: true
                    },
                    
                    {
                         name: 'actions',
                         data: 'id',
                         title: '',
                         sortable: false,
                         searchable: false,
                         className: "text-right",
                         render: function (data, type, row, meta) {
                            return '<a href="Debt/Details/' + row.id + '" class="btn btn-primary" title="Преглед"><i class="fa-check-circle"></i></a>';
                         }
                    },
                    {
                         name: 'actions',
                         data: 'id',
                         title: '',
                         sortable: false,
                         searchable: false,
                         className: "text-right",
                         render: function (data, type, row, meta) {
                             if (row.isFinished === false) {
                                
                                return '<a href="Debt/Edit/' + row.id + '" class="btn btn-warning" title="Редакция"><i class="fa fa-info-circle"></i></a>';
                            } else {
                               
                                return '';
                            }
                         }
                    }
            
                   
                ]
            });
        });
    </script>

}

