@* @using Microsoft.AspNetCore.Identity
@using MunicipalityDebtsSystem.Infrastructure.Data.Models.Entities *@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    string userName = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        userName = User.FindFirstValue(MunicipalityDebtsSystem.Infrastructure.Data.Constants.CustomClaims.UserFullNameClaim) ?? string.Empty;
    }
}


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Потребител: @userName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Изход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
